Proyecto Individual de MLOps para Henry

Sistema de Recomendacion de Peliculas

Proceso ETL. (Extract, Transform, Load) 

Un sistema de recomendación de películas es una herramienta que sugiere películas a los usuarios en función de sus preferencias y gustos. Para construir un sistema de este tipo, es necesario recopilar, procesar y analizar una gran cantidad de datos de películas y usuarios. Este proceso se conoce como ETL, que significa Extracción, Transformación y Carga.

1.Extract: Nuestra primera tarea será extraer datos relevantes para nuestro sistema de recomendación. La selección de datos será estratégica, enfocándonos en características que influyen en la preferencia de películas, como géneros, actores, directores, calificaciones de críticos y usuarios, y descripciones de tramas.

2.Transform: Con los datos extraídos, procederemos a transformarlos para adaptarlos a nuestras necesidades específicas. Este paso es crucial para limpiar los datos (manejando valores nulos, errores tipográficos, etc.), normalizar formatos (convertir fechas, codificar variables categóricas, etc.), y realizar cualquier otra transformación necesaria para facilitar el análisis posterior. 

3.Load: Finalmente, los datos transformados se cargarán en un sistema de almacenamiento (Formato excel o parquet) adecuado, los cuales seran consumidos por una API para dar respuestas a los endpoints solicitados en este proyecto.

Etapas del Proceso ETL

1. Proceso de Carga (Load)


Instalamos las Librerias a Utilizar

pip install Pandas
pip install Numpy
pip install Matplotlib
pip install Seaborn
pip install Sklearn
pip install PrettyTable

In [2]:
#Importamos las Librerias

import pandas as pd
import ast
import json
import numpy as np
import csv
import matplotlib.pyplot as plt
import prettytable as pt

* Carga de los Archivos Originales Recibidos para la Transformacion.

In [3]:
#Comenzamos con el Archivo credits.csv

credits = pd.read_csv("credits.csv")
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
credits.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [6]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [7]:
#Explorar y preparar los datos en las columnas
print(credits["cast"].iloc[0])

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [8]:
#Explorar y preparar los datos en las columnas
print(credits["crew"].iloc[0])

[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gender': 2, 'id': 7879, 'job': 'Director', 'name': 'John Lasseter', 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}, {'credit_id': '52fe4284c3a36847f8024f4f', 'department': 'Writing', 'gender': 2, 'id': 12891, 'job': 'Screenplay', 'name': 'Joss Whedon', 'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'}, {'credit_id': '52fe4284c3a36847f8024f55', 'department': 'Writing', 'gender': 2, 'id': 7, 'job': 'Screenplay', 'name': 'Andrew Stanton', 'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'}, {'credit_id': '52fe4284c3a36847f8024f5b', 'department': 'Writing', 'gender': 2, 'id': 12892, 'job': 'Screenplay', 'name': 'Joel Cohen', 'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'}, {'credit_id': '52fe4284c3a36847f8024f61', 'department': 'Writing', 'gender': 0, 'id': 12893, 'job': 'Screenplay', 'name': 'Alec Sokolow', 'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'}, {'credit_id': '52fe4284c3a36847f8024f67', 'department': 'Production', 'gender': 1, 'id': 12894, 'job': 'Producer', 'name': 'Bonnie Arnold', 'profile_path': None}, {'credit_id': '52fe4284c3a36847f8024f6d', 'department': 'Production', 'gender': 0, 'id': 12895, 'job': 'Executive Producer', 'name': 'Ed Catmull', 'profile_path': None}, {'credit_id': '52fe4284c3a36847f8024f73', 'department': 'Production', 'gender': 2, 'id': 12896, 'job': 'Producer', 'name': 'Ralph Guggenheim', 'profile_path': None}, {'credit_id': '52fe4284c3a36847f8024f79', 'department': 'Production', 'gender': 2, 'id': 12897, 'job': 'Executive Producer', 'name': 'Steve Jobs', 'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'}, {'credit_id': '52fe4284c3a36847f8024f8b', 'department': 'Editing', 'gender': 2, 'id': 8, 'job': 'Editor', 'name': 'Lee Unkrich', 'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'}, {'credit_id': '52fe4284c3a36847f8024f91', 'department': 'Art', 'gender': 2, 'id': 7883, 'job': 'Art Direction', 'name': 'Ralph Eggleston', 'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'}, {'credit_id': '598331bf925141421201044b', 'department': 'Editing', 'gender': 2, 'id': 1168870, 'job': 'Editor', 'name': 'Robert Gordon', 'profile_path': None}, {'credit_id': '5892168cc3a36809660095f9', 'department': 'Sound', 'gender': 0, 'id': 1552883, 'job': 'Foley Editor', 'name': 'Mary Helen Leasman', 'profile_path': None}, {'credit_id': '5531824d9251415289000945', 'department': 'Visual Effects', 'gender': 0, 'id': 1453514, 'job': 'Animation', 'name': 'Kim Blanchette', 'profile_path': None}, {'credit_id': '589215969251412dcb009bf6', 'department': 'Sound', 'gender': 0, 'id': 1414182, 'job': 'ADR Editor', 'name': 'Marilyn McCoppen', 'profile_path': None}, {'credit_id': '589217099251412dc500a018', 'department': 'Sound', 'gender': 2, 'id': 7885, 'job': 'Orchestrator', 'name': 'Randy Newman', 'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'}, {'credit_id': '5693e6b29251417b0e0000e3', 'department': 'Editing', 'gender': 0, 'id': 1429549, 'job': 'Color Timer', 'name': 'Dale E. Grahn', 'profile_path': None}, {'credit_id': '572e2522c3a36869e6001a9c', 'department': 'Visual Effects', 'gender': 0, 'id': 7949, 'job': 'CG Painter', 'name': 'Robin Cooper', 'profile_path': None}, {'credit_id': '574f12309251415ca1000012', 'department': 'Writing', 'gender': 2, 'id': 7879, 'job': 'Original Story', 'name': 'John Lasseter', 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}, {'credit_id': '574f1240c3a3682e7300001c', 'department': 'Writing', 'gender': 2, 'id': 12890, 'job': 'Original Story', 'name': 'Pete Docter', 'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'}, {'credit_id': '574f12519251415c92000015', 'department': 'Writing', 'gender': 0, 'id': 7911, 'job': 'Original Story', 'name': 'Joe Ranft', 'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'}, {'credit_id': '574f12cec3a3682e82000022', 'department': 'Crew', 'gender': 0, 'id': 1629419, 'job': 'Post Production Supervisor', 'name': 'Patsy Bouge', 'profile_path': None}, {'credit_id': '574f14f19251415ca1000082', 'department': 'Art', 'gender': 0, 'id': 7961, 'job': 'Sculptor', 'name': 'Norm DeCarlo', 'profile_path': None}, {'credit_id': '5751ae4bc3a3683772002b7f', 'department': 'Visual Effects', 'gender': 2, 'id': 12905, 'job': 'Animation Director', 'name': 'Ash Brannon', 'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'}, {'credit_id': '5891edbe9251412dc5007cd6', 'department': 'Sound', 'gender': 2, 'id': 7885, 'job': 'Music', 'name': 'Randy Newman', 'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'}, {'credit_id': '589213d39251412dc8009832', 'department': 'Directing', 'gender': 0, 'id': 1748707, 'job': 'Layout', 'name': 'Roman Figun', 'profile_path': None}, {'credit_id': '5892173dc3a3680968009351', 'department': 'Sound', 'gender': 2, 'id': 4949, 'job': 'Orchestrator', 'name': 'Don Davis', 'profile_path': None}, {'credit_id': '589217cec3a3686b0a0052ba', 'department': 'Sound', 'gender': 0, 'id': 1372885, 'job': 'Music Editor', 'name': 'James Flamberg', 'profile_path': None}, {'credit_id': '58921831c3a3686348004a64', 'department': 'Editing', 'gender': 0, 'id': 1739962, 'job': 'Negative Cutter', 'name': 'Mary Beth Smith', 'profile_path': None}, {'credit_id': '58921838c3a36809700096c0', 'department': 'Editing', 'gender': 0, 'id': 1748513, 'job': 'Negative Cutter', 'name': 'Rick Mackay', 'profile_path': None}, {'credit_id': '589218429251412dd1009d1b', 'department': 'Art', 'gender': 0, 'id': 1458006, 'job': 'Title Designer', 'name': 'Susan Bradley', 'profile_path': None}, {'credit_id': '5891ed99c3a3680966007670', 'department': 'Crew', 'gender': 0, 'id': 1748557, 'job': 'Supervising Technical Director', 'name': 'William Reeves', 'profile_path': None}, {'credit_id': '5891edcec3a3686b0a002eb2', 'department': 'Sound', 'gender': 2, 'id': 7885, 'job': 'Songs', 'name': 'Randy Newman', 'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'}, {'credit_id': '5891edf9c3a36809700075e6', 'department': 'Writing', 'gender': 2, 'id': 7, 'job': 'Original Story', 'name': 'Andrew Stanton', 'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'}, {'credit_id': '58920f0b9251412dd7009104', 'department': 'Crew', 'gender': 2, 'id': 12890, 'job': 'Supervising Animator', 'name': 'Pete Docter', 'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'}, {'credit_id': '58920f1fc3a3680977009021', 'department': 'Sound', 'gender': 2, 'id': 2216, 'job': 'Sound Designer', 'name': 'Gary Rydstrom', 'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'}, {'credit_id': '58920f389251412dd700912d', 'department': 'Production', 'gender': 0, 'id': 12909, 'job': 'Production Supervisor', 'name': 'Karen Robert Jackson', 'profile_path': None}, {'credit_id': '58920fbd9251412dcb00969c', 'department': 'Crew', 'gender': 0, 'id': 953331, 'job': 'Executive Music Producer', 'name': 'Chris Montan', 'profile_path': None}, {'credit_id': '589210069251412dd7009219', 'department': 'Visual Effects', 'gender': 0, 'id': 7893, 'job': 'Animation Director', 'name': 'Rich Quade', 'profile_path': None}, {'credit_id': '589210329251412dcd00943b', 'department': 'Visual Effects', 'gender': 0, 'id': 8025, 'job': 'Animation', 'name': 'Michael Berenstein', 'profile_path': None}, {'credit_id': '5892103bc3a368096a009180', 'department': 'Visual Effects', 'gender': 0, 'id': 78009, 'job': 'Animation', 'name': 'Colin Brady', 'profile_path': None}, {'credit_id': '5892105dc3a3680968008db2', 'department': 'Visual Effects', 'gender': 0, 'id': 1748682, 'job': 'Animation', 'name': 'Davey Crockett Feiten', 'profile_path': None}, {'credit_id': '589210669251412dcd009466', 'department': 'Visual Effects', 'gender': 0, 'id': 1454030, 'job': 'Animation', 'name': 'Angie Glocka', 'profile_path': None}, {'credit_id': '5892107c9251412dd1009613', 'department': 'Visual Effects', 'gender': 0, 'id': 1748683, 'job': 'Animation', 'name': 'Rex Grignon', 'profile_path': None}, {'credit_id': '5892108ac3a3680973008d3f', 'department': 'Visual Effects', 'gender': 0, 'id': 1748684, 'job': 'Animation', 'name': 'Tom K. Gurney', 'profile_path': None}, {'credit_id': '58921093c3a3686348004477', 'department': 'Visual Effects', 'gender': 2, 'id': 8029, 'job': 'Animation', 'name': 'Jimmy Hayward', 'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'}, {'credit_id': '5892109b9251412dcd0094b0', 'department': 'Visual Effects', 'gender': 0, 'id': 1426773, 'job': 'Animation', 'name': 'Hal T. Hickel', 'profile_path': None}, {'credit_id': '589210a29251412dc5009a29', 'department': 'Visual Effects', 'gender': 0, 'id': 8035, 'job': 'Animation', 'name': 'Karen Kiser', 'profile_path': None}, {'credit_id': '589210ccc3a3680977009191', 'department': 'Visual Effects', 'gender': 0, 'id': 1748688, 'job': 'Animation', 'name': 'Anthony B. LaMolinara', 'profile_path': None}, {'credit_id': '589210d7c3a3686b0a004c1f', 'department': 'Visual Effects', 'gender': 0, 'id': 587314, 'job': 'Animation', 'name': 'Guionne Leroy', 'profile_path': None}, {'credit_id': '589210e1c3a36809770091a7', 'department': 'Visual Effects', 'gender': 2, 'id': 7918, 'job': 'Animation', 'name': 'Bud Luckey', 'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'}, {'credit_id': '589210ee9251412dc200978a', 'department': 'Visual Effects', 'gender': 0, 'id': 1748689, 'job': 'Animation', 'name': 'Les Major', 'profile_path': None}, {'credit_id': '589210fa9251412dc8009595', 'department': 'Visual Effects', 'gender': 2, 'id': 7892, 'job': 'Animation', 'name': 'Glenn McQueen', 'profile_path': None}, {'credit_id': '589211029251412dc8009598', 'department': 'Visual Effects', 'gender': 0, 'id': 555795, 'job': 'Animation', 'name': 'Mark Oftedal', 'profile_path': None}, {'credit_id': '5892110b9251412dc800959d', 'department': 'Visual Effects', 'gender': 2, 'id': 7882, 'job': 'Animation', 'name': 'Jeff Pidgeon', 'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'}, {'credit_id': '58921113c3a36863480044e4', 'department': 'Visual Effects', 'gender': 0, 'id': 8017, 'job': 'Animation', 'name': 'Jeff Pratt', 'profile_path': None}, {'credit_id': '5892111c9251412dcb0097e9', 'department': 'Visual Effects', 'gender': 0, 'id': 1184140, 'job': 'Animation', 'name': 'Steve Rabatich', 'profile_path': None}, {'credit_id': '58921123c3a36809700090f6', 'department': 'Visual Effects', 'gender': 0, 'id': 8049, 'job': 'Animation', 'name': 'Roger Rose', 'profile_path': None}, {'credit_id': '5892112b9251412dcb0097fb', 'department': 'Visual Effects', 'gender': 0, 'id': 1509559, 'job': 'Animation', 'name': 'Steve Segal', 'profile_path': None}, {'credit_id': '589211349251412dc80095c3', 'department': 'Visual Effects', 'gender': 0, 'id': 1748691, 'job': 'Animation', 'name': 'Doug Sheppeck', 'profile_path': None}, {'credit_id': '5892113cc3a3680970009106', 'department': 'Visual Effects', 'gender': 0, 'id': 8050, 'job': 'Animation', 'name': 'Alan Sperling', 'profile_path': None}, {'credit_id': '58921148c3a3686b0a004c99', 'department': 'Visual Effects', 'gender': 0, 'id': 8010, 'job': 'Animation', 'name': 'Doug Sweetland', 'profile_path': None}, {'credit_id': '58921150c3a3680966009125', 'department': 'Visual Effects', 'gender': 0, 'id': 8044, 'job': 'Animation', 'name': 'David Tart', 'profile_path': None}, {'credit_id': '589211629251412dc5009b00', 'department': 'Visual Effects', 'gender': 0, 'id': 1454034, 'job': 'Animation', 'name': 'Ken Willard', 'profile_path': None}, {'credit_id': '589211c1c3a3686b0a004d28', 'department': 'Visual Effects', 'gender': 0, 'id': 7887, 'job': 'Visual Effects Supervisor', 'name': 'Thomas Porter', 'profile_path': None}, {'credit_id': '589211d4c3a3680968008ed9', 'department': 'Visual Effects', 'gender': 0, 'id': 1406878, 'job': 'Visual Effects', 'name': 'Mark Thomas Henne', 'profile_path': None}, {'credit_id': '589211f59251412dd4008e65', 'department': 'Visual Effects', 'gender': 0, 'id': 1748698, 'job': 'Visual Effects', 'name': 'Oren Jacob', 'profile_path': None}, {'credit_id': '58921242c3a368096a00939b', 'department': 'Visual Effects', 'gender': 0, 'id': 1748699, 'job': 'Visual Effects', 'name': 'Darwyn Peachey', 'profile_path': None}, {'credit_id': '5892124b9251412dc5009bd2', 'department': 'Visual Effects', 'gender': 0, 'id': 1748701, 'job': 'Visual Effects', 'name': 'Mitch Prater', 'profile_path': None}, {'credit_id': '58921264c3a3686b0a004dbf', 'department': 'Visual Effects', 'gender': 0, 'id': 1748703, 'job': 'Visual Effects', 'name': 'Brian M. Rosen', 'profile_path': None}, {'credit_id': '589212709251412dcd009676', 'department': 'Lighting', 'gender': 1, 'id': 12912, 'job': 'Lighting Supervisor', 'name': 'Sharon Calahan', 'profile_path': None}, {'credit_id': '5892127fc3a3686b0a004de5', 'department': 'Lighting', 'gender': 0, 'id': 7899, 'job': 'Lighting Supervisor', 'name': 'Galyn Susman', 'profile_path': None}, {'credit_id': '589212cdc3a3680970009268', 'department': 'Visual Effects', 'gender': 0, 'id': 12915, 'job': 'CG Painter', 'name': 'William Cone', 'profile_path': None}, {'credit_id': '5892130f9251412dc8009791', 'department': 'Art', 'gender': 0, 'id': 1748705, 'job': 'Sculptor', 'name': 'Shelley Daniels Lekven', 'profile_path': None}, {'credit_id': '5892131c9251412dd4008f4c', 'department': 'Visual Effects', 'gender': 2, 'id': 7889, 'job': 'Character Designer', 'name': 'Bob Pauley', 'profile_path': None}, {'credit_id': '589213249251412dd100987b', 'department': 'Visual Effects', 'gender': 2, 'id': 7918, 'job': 'Character Designer', 'name': 'Bud Luckey', 'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'}, {'credit_id': '5892132b9251412dc80097b1', 'department': 'Visual Effects', 'gender': 2, 'id': 7, 'job': 'Character Designer', 'name': 'Andrew Stanton', 'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'}, {'credit_id': '58921332c3a368634800467b', 'department': 'Visual Effects', 'gender': 0, 'id': 12915, 'job': 'Character Designer', 'name': 'William Cone', 'profile_path': None}, {'credit_id': '5892135f9251412dd4008f90', 'department': 'Visual Effects', 'gender': 0, 'id': 1748706, 'job': 'Character Designer', 'name': 'Steve Johnson', 'profile_path': None}, {'credit_id': '58921384c3a3680973008fd4', 'department': 'Visual Effects', 'gender': 0, 'id': 1176752, 'job': 'Character Designer', 'name': 'Dan Haskett', 'profile_path': None}, {'credit_id': '5892138e9251412dc20099fc', 'department': 'Visual Effects', 'gender': 0, 'id': 1088034, 'job': 'Character Designer', 'name': 'Tom Holloway', 'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'}, {'credit_id': '58921395c3a368097700942f', 'department': 'Visual Effects', 'gender': 0, 'id': 1447465, 'job': 'Character Designer', 'name': 'Jean Gillmore', 'profile_path': None}, {'credit_id': '589213e2c3a3680973009026', 'department': 'Directing', 'gender': 0, 'id': 1748709, 'job': 'Layout', 'name': 'Desirée Mourad', 'profile_path': None}, {'credit_id': '589214099251412dc5009d57', 'department': 'Art', 'gender': 0, 'id': 1748710, 'job': 'Set Dresser', 'name': "Kelly O'Connell", 'profile_path': None}, {'credit_id': '58921411c3a3686b0a004f70', 'department': 'Art', 'gender': 0, 'id': 1443471, 'job': 'Set Dresser', 'name': 'Sonoko Konishi', 'profile_path': None}, {'credit_id': '58921434c3a368096a00956e', 'department': 'Art', 'gender': 0, 'id': 1748711, 'job': 'Set Dresser', 'name': 'Ann M. Rockwell', 'profile_path': None}, {'credit_id': '5892144ac3a36809680090de', 'department': 'Editing', 'gender': 0, 'id': 1748712, 'job': 'Editorial Manager', 'name': 'Julie M. McDonald', 'profile_path': None}, {'credit_id': '58921479c3a368096800910f', 'department': 'Editing', 'gender': 0, 'id': 1589729, 'job': 'Assistant Editor', 'name': 'Robin Lee', 'profile_path': None}, {'credit_id': '5892148b9251412dd10099cc', 'department': 'Editing', 'gender': 0, 'id': 1748716, 'job': 'Assistant Editor', 'name': 'Tom Freeman', 'profile_path': None}, {'credit_id': '589214959251412dcb009b1f', 'department': 'Editing', 'gender': 0, 'id': 1748717, 'job': 'Assistant Editor', 'name': 'Ada Cochavi', 'profile_path': None}, {'credit_id': '5892149ec3a3686348004798', 'department': 'Editing', 'gender': 0, 'id': 1336438, 'job': 'Assistant Editor', 'name': 'Dana Mulligan', 'profile_path': None}, {'credit_id': '589214adc3a368096a0095db', 'department': 'Editing', 'gender': 0, 'id': 1748718, 'job': 'Editorial Coordinator', 'name': 'Deirdre Morrison', 'profile_path': None}, {'credit_id': '589214c7c3a368097700952b', 'department': 'Production', 'gender': 0, 'id': 1748719, 'job': 'Production Coordinator', 'name': 'Lori Lombardo', 'profile_path': None}, {'credit_id': '589214cec3a368096a009603', 'department': 'Production', 'gender': 0, 'id': 1748720, 'job': 'Production Coordinator', 'name': 'Ellen Devine', 'profile_path': None}, {'credit_id': '589214e39251412dc8009904', 'department': 'Crew', 'gender': 0, 'id': 1468014, 'job': 'Unit Publicist', 'name': 'Lauren Beth Strogoff', 'profile_path': None}, {'credit_id': '58921544c3a3686b0a00507d', 'department': 'Sound', 'gender': 2, 'id': 2216, 'job': 'Sound Re-Recording Mixer', 'name': 'Gary Rydstrom', 'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'}, {'credit_id': '5892154c9251412dd1009a56', 'department': 'Sound', 'gender': 0, 'id': 1425978, 'job': 'Sound Re-Recording Mixer', 'name': 'Gary Summers', 'profile_path': None}, {'credit_id': '58921555c3a36809680091bd', 'department': 'Sound', 'gender': 2, 'id': 8276, 'job': 'Supervising Sound Editor', 'name': 'Tim Holland', 'profile_path': None}, {'credit_id': '589215c39251412dcb009c12', 'department': 'Sound', 'gender': 0, 'id': 7069, 'job': 'Sound Effects Editor', 'name': 'Pat Jackson', 'profile_path': None}, {'credit_id': '58921698c3a368096a009788', 'department': 'Crew', 'gender': 2, 'id': 15894, 'job': 'Sound Design Assistant', 'name': 'Tom Myers', 'profile_path': None}, {'credit_id': '589216a89251412dc2009ca4', 'department': 'Sound', 'gender': 0, 'id': 1414177, 'job': 'Assistant Sound Editor', 'name': 'J.R. Grubbs', 'profile_path': None}, {'credit_id': '589216c19251412dc2009cb9', 'department': 'Sound', 'gender': 1, 'id': 1748724, 'job': 'Assistant Sound Editor', 'name': 'Susan Sanford', 'profile_path': None}, {'credit_id': '589216ccc3a3680973009274', 'department': 'Sound', 'gender': 0, 'id': 1748725, 'job': 'Assistant Sound Editor', 'name': 'Susan Popovic', 'profile_path': None}, {'credit_id': '589216d79251412dc8009aa0', 'department': 'Sound', 'gender': 0, 'id': 8067, 'job': 'Assistant Sound Editor', 'name': 'Dan Engstrom', 'profile_path': None}, {'credit_id': '589216e49251412dcd009a4f', 'department': 'Production', 'gender': 1, 'id': 7902, 'job': 'Casting Consultant', 'name': 'Ruth Lambert', 'profile_path': None}, {'credit_id': '589216f39251412dc2009cf3', 'department': 'Production', 'gender': 0, 'id': 84493, 'job': 'ADR Voice Casting', 'name': 'Mickie McGowan', 'profile_path': '/k7TjJBfINsg8vLQxJwos6XObAD6.jpg'}]

A traves del analisis Por Columna del dataframe de credits_movies, se concluye que ambas Columnas tienen datos anidados. Estos mismos deben separarse y luego unirse con los datos necesarios para nuestro Sistema de Recomendacion de Peliculas.

2. Proceso de Transformacion (Transform)

In [9]:
# Contar cuántas filas son cadenas y cuántas filas son listas, ya que usaremos el metodo Explode para trabajar con los datos anidados, y su funcion es dividir un array en filas individuales.
count_strings = credits['cast'].apply(lambda x: isinstance(x, str)).sum()
count_lists = credits['crew'].apply(lambda x: isinstance(x, list)).sum()

print(f"\nTotal de cadenas: {count_strings}")
print(f"Total de listas: {count_lists}")

Total de cadenas: 45476
Total de listas: 0

In [10]:
# Las columnas "cast" y "crew" se convierten de cadena a lista de diccionarios
credits["cast"] = credits["cast"].apply(ast.literal_eval)
credits["crew"] = credits["crew"].apply(ast.literal_eval)

In [11]:
# Usamos el metodo Explode en la columna "cast" y la columna "crew" para que cada diccionario esté en una fila separada
cast_exploded = credits.explode('cast')
crew_exploded = credits.explode('crew')

In [12]:
# Normalizar los datos de 'cast' y los datos de "crew"
cast_normalize = cast_exploded['cast'].apply(pd.Series)
crew_normalize = crew_exploded['crew'].apply(pd.Series)

In [13]:
cast_normalize.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,0
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,NaN
0,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,NaN
0,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,NaN
0,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,NaN
0,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,NaN

In [14]:
#Cambiamos algunos nombres para que no unan al momento de concatenar ambas columnas

cast_normalize = cast_normalize.rename(columns={"name" : "cast_name"})
cast_normalize = cast_normalize.rename(columns={"id_cast" : "id"})
cast_normalize = cast_normalize.rename(columns={"profile_path" : "cast_profile"})
cast_normalize = cast_normalize.rename(columns={"gender" : "cast_gender"})

In [15]:
#Validamos los nuevos nombres
cast_normalize.columns

Index([     'cast_id',    'character',    'credit_id',  'cast_gender',
                 'id',    'cast_name',        'order', 'cast_profile',
                    0],
      dtype='object')

In [16]:
crew_normalize.head()

,credit_id,department,gender,id,job,name,profile_path,0
0,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg,NaN
0,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg,NaN
0,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg,NaN
0,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg,NaN
0,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg,NaN

In [17]:
#Renombrar algunas columnas de Crew_normalize para que no se unan con los datos de cast_normalize
crew_normalize = crew_normalize.rename(columns={"credit_id" : "crew_id"})
crew_normalize = crew_normalize.rename(columns={"name" : "crew_name"})
crew_normalize = crew_normalize.rename(columns={"id_crew" : "id"})
crew_normalize = crew_normalize.rename(columns={"profile_path" : "crew_profile"})
crew_normalize = crew_normalize.rename(columns={"gender" : "crew_gender"})

In [18]:
#Validamos los nuevos Nombres
crew_normalize.columns

Index([     'crew_id',   'department',  'crew_gender',           'id',
                'job',    'crew_name', 'crew_profile',              0],
      dtype='object')

In [19]:
#Convertimos los archivos en un DataFrame para proceder a concatenar las Columnas
credits_df = pd.DataFrame(credits)

In [20]:
cast_normalize_df = pd.DataFrame(cast_normalize)
crew_normalize_df = pd.DataFrame(crew_normalize)

In [21]:
# 3. Unir los DataFrames usando 'id' como referencia
# Primero, asegurémonos de que las columnas en df_cast_normalize y df_crew_normalize se alineen correctamente con df_credits
df_combined = credits_df.merge(cast_normalize_df, on='id', how='left', suffixes=('', '_normalized_cast'))

In [22]:
df_combined = df_combined.merge(crew_normalize_df, on='id', how='left', suffixes=('', '_normalized_crew'))

3. Carga el Archivo Transformado en un nuevo DataSet

In [23]:
# 4. Guardar el nuevo DataFrame como un archivo CSV
df_combined.to_csv('combined_credits.csv', index=False)

In [24]:
print("Nuevo archivo CSV guardado como 'combined_credits.csv'")

Nuevo archivo CSV guardado como 'combined_credits.csv'

In [25]:
df_combined.head()

,cast,crew,id,cast_id,character,credit_id,cast_gender,cast_name,order,cast_profile,0,crew_id,department,crew_gender,job,crew_name,crew_profile,0_normalized_crew
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,18.0,Dr. Martin Kessler,52fe4345c3a36847f804774b,2.0,George C. Scott,4.0,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN
1,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,9.0,Grandpa Ivan,52fe44e7c3a368484e03d92d,2.0,George C. Scott,6.0,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN
2,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,14.0,"General ""Buck"" Turgidson",52fe4290c3a36847f80287b1,2.0,George C. Scott,1.0,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN
3,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1.0,Gen. George S. Patton Jr.,52fe440e9251416c750277fd,2.0,George C. Scott,0.0,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN
4,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,1.0,Lt. William 'Bill' Kinderman,52fe44619251416c75032a5d,2.0,George C. Scott,0.0,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott,/mINHwB258stf5M4AZcpzXK1GRjW.jpg,NaN

In [26]:
#Eliminamos las Columnas cast y crew anidadas
df_combined = df_combined.drop('cast', axis=1)

In [27]:
df_combined = df_combined.drop('crew', axis=1)

In [28]:
df_combined.columns

Index(['id', 'cast_id', 'character', 'credit_id', 'cast_gender', 'cast_name',
       'order', 'cast_profile', '0', 'crew_id', 'department', 'crew_gender',
       'job', 'crew_name', 'crew_profile', '0_normalized_crew'],
      dtype='object')

In [29]:
#Eliminamos otras columnas que no son necesarias
df_combined = df_combined.drop('0_normalized_crew', axis=1)
df_combined = df_combined.drop('0', axis=1)
df_combined = df_combined.drop('order', axis=1)
df_combined = df_combined.drop('cast_profile', axis=1)
df_combined = df_combined.drop('crew_profile', axis=1)

In [30]:
df_combined.head()

,id,cast_id,character,credit_id,cast_gender,cast_name,crew_id,department,crew_gender,job,crew_name
0,862,18.0,Dr. Martin Kessler,52fe4345c3a36847f804774b,2.0,George C. Scott,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott
1,862,9.0,Grandpa Ivan,52fe44e7c3a368484e03d92d,2.0,George C. Scott,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott
2,862,14.0,"General ""Buck"" Turgidson",52fe4290c3a36847f80287b1,2.0,George C. Scott,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott
3,862,1.0,Gen. George S. Patton Jr.,52fe440e9251416c750277fd,2.0,George C. Scott,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott
4,862,1.0,Lt. William 'Bill' Kinderman,52fe44619251416c75032a5d,2.0,George C. Scott,52fe49eec3a36847f81ae2d9,Directing,2.0,Director,George C. Scott

In [31]:
df_combined = df_combined.drop('credit_id', axis=1)
df_combined = df_combined.drop('crew_id', axis=1)
df_combined = df_combined.drop('cast_id', axis=1)

In [32]:
df_combined.columns

Index(['id', 'character', 'cast_gender', 'cast_name', 'department',
       'crew_gender', 'job', 'crew_name'],
      dtype='object')

In [33]:
df_combined.head()

,id,character,cast_gender,cast_name,department,crew_gender,job,crew_name
0,862,Dr. Martin Kessler,2.0,George C. Scott,Directing,2.0,Director,George C. Scott
1,862,Grandpa Ivan,2.0,George C. Scott,Directing,2.0,Director,George C. Scott
2,862,"General ""Buck"" Turgidson",2.0,George C. Scott,Directing,2.0,Director,George C. Scott
3,862,Gen. George S. Patton Jr.,2.0,George C. Scott,Directing,2.0,Director,George C. Scott
4,862,Lt. William 'Bill' Kinderman,2.0,George C. Scott,Directing,2.0,Director,George C. Scott

In [35]:
df_combined = df_combined.rename(columns={"cast_name" : "Actores"})
df_combined = df_combined.rename(columns={"crew_name" : "Diretores"})

In [36]:
# Verificar si hay datos nulos en cada columna con el metodo count

nulos_count = df_combined.isnull().sum()
print(nulos_count)

id                  0
character       76429
cast_gender     76429
Actores         76429
department     102519
crew_gender    102519
job            102519
Diretores      102519
dtype: int64

In [37]:
# Verficar para ver totales y nulos por Columnas

# Obtener el número total de celdas por columna
total_celdas = df_combined.shape[0]  # Total de filas

# Contar los datos nulos por columna
nulos_count = df_combined.isnull().sum()

In [38]:
# DataFrame para mostrar totales y nulos

resultados = pd.DataFrame({
    'Total Celdas': total_celdas,
    'Datos Nulos': nulos_count,
    'Datos No Nulos': total_celdas - nulos_count
})

print(resultados)

             Total Celdas  Datos Nulos  Datos No Nulos
id                 312606            0          312606
character          312606        76429          236177
cast_gender        312606        76429          236177
Actores            312606        76429          236177
department         312606       102519          210087
crew_gender        312606       102519          210087
job                312606       102519          210087
Diretores          312606       102519          210087

In [40]:
#He decidido Reemplazar los valores Nulos con el numero "0"

#Columna Actores
df_combined["Actores"] = df_combined["Actores"].fillna(0)

# Verificar que ya no haya nulos
print("Mostrar los resultados")
print(df_combined["Actores"].isnull().sum())

Mostrar los resultados
0

In [41]:
#He decidido Reemplazar los valores Nulos con el numero "0"

#Columna Actores
df_combined["Diretores"] = df_combined["Diretores"].fillna(0)

# Verificar que ya no haya nulos
print("Mostrar los resultados")
print(df_combined["Diretores"].isnull().sum())

Mostrar los resultados
0

In [42]:
#Termino de reemplazar con 0 las columnas restantes

# Lista de columnas a procesar
columnas_a_reemplazar = ["character", "cast_gender", "department", "crew_gender", "job" ]

# Reemplazar nulos con 0 en cada columna de la lista
df_combined[columnas_a_reemplazar] = df_combined[columnas_a_reemplazar].fillna(0)

# Verificar que ya no haya nulos en las columnas
print(df_combined[columnas_a_reemplazar].isnull().sum())  # Debería mostrar 0 para cada columna

character      0
cast_gender    0
department     0
crew_gender    0
job            0
dtype: int64

In [43]:
# Verificaos de nuevo si hay datos nulos en las columnas

nulos_count1 = df_combined.isnull().sum()
print(nulos_count1)

id             0
character      0
cast_gender    0
Actores        0
department     0
crew_gender    0
job            0
Diretores      0
dtype: int64

El dataset Credits, fue Cargado, transformado y esta listo para trabajar sobre el.

In [44]:
#Guardo el DataFrame modificado en un nuevo Documento csv


df_combined.to_csv("df_credits_limpio.csv", index=False)

# Mensaje de confirmación
print("El dataset se ha guardado en 'df_credits_limpio.csv'.")

El dataset se ha guardado en 'df_credits_limpio.csv'.

In [147]:
# Continuamos con el Archivo movies_dataset
movies_dataset = pd.read_csv("movies_dataset.csv")
movies_dataset.head()

C:\Users\matencio\AppData\Local\Temp\ipykernel_18380\2808669235.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_dataset = pd.read_csv("movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

#Realizamos las Transformaciones requeridas para nuestro MVP.

In [148]:
movies_dataset.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [149]:
# Eliminamos las Columnas Solicitadas

# Borrar varias columnas: 'ciudad' y 'profesion'
movies_dataset = movies_dataset.drop(columns=["video", 
                                              "imdb_id", 
                                              "adult", 
                                              "original_title", 
                                              "poster_path", 
                                              "homepage" ])

In [150]:
# Contar los valores nulos en la columna 'release_data'
nulos = movies_dataset["release_date"].isnull().sum()
print(f"Número de valores nulos en 'release_data': {nulos}")

Número de valores nulos en 'release_data': 87

In [151]:
# Eliminar las filas que contienen valores nulos en 'release_data'
movies_dataset = movies_dataset.dropna(subset=["release_date"])

In [152]:
movies_dataset.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [153]:
# Contar los valores nulos en las columnas 'revenue' y 'budget'
nulos_revenue = movies_dataset["revenue"].isnull().sum()
nulos_budget = movies_dataset["budget"].isnull().sum()
print(f"Número de valores nulos en 'revenue': {nulos_revenue}")
print(f"Número de valores nulos en 'budget': {nulos_budget}")

Número de valores nulos en 'revenue': 3
Número de valores nulos en 'budget': 0

In [154]:
# Rellenar los valores nulos en 'revenue' y 'budget' con 0
movies_dataset["revenue"].fillna(0, inplace=True)
movies_dataset["budget"].fillna(0, inplace=True)

In [155]:
# Identificar si la columna 'release_data' tenga el formato AAAA-mm-dd
movies_dataset["release_date"] = pd.to_datetime(movies_dataset["release_date"], errors='coerce')

In [156]:
movies_dataset["release_date"].dtype

dtype('<M8[ns]')

In [157]:
# Crear la columna 'release_year' extrayendo el año de 'release_data'
movies_dataset['release_year'] = movies_dataset["release_date"].dt.year

In [158]:
# Calcular la columna 'return' (ROI)

# Verificar si las columnas tienen datos numericos
# Convertir las columnas 'revenue' y 'budget' a numérico
movies_dataset["revenue"] = pd.to_numeric(movies_dataset["revenue"], errors='coerce')
movies_dataset["budget"] = pd.to_numeric(movies_dataset["budget"], errors='coerce')

In [159]:
# Calculamos la columna 'return' (ROI)
movies_dataset["return"] = np.where(movies_dataset["budget"] > 0, movies_dataset["revenue"] / movies_dataset["budget"], 0)

In [160]:
movies_dataset.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

In [161]:
movies_dataset.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995.0,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000

In [162]:
# Analizar las Columnas con datos anidados

# Contar cuántas filas son cadenas y cuántas filas son listas.
count_belongs = movies_dataset["belongs_to_collection"].apply(lambda x: isinstance(x, str)).sum()
count_lists1 = movies_dataset["belongs_to_collection"].apply(lambda x: isinstance(x, list)).sum()

print(f"\nTotal de cadenas: {count_belongs}")
print(f"Total de listas: {count_lists1}")

Total de cadenas: 4491
Total de listas: 0

In [163]:
movies_dataset["belongs_to_collection"].head(10)

0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                  NaN
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                  NaN
4    {'id': 96871, 'name': 'Father of the Bride Col...
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9    {'id': 645, 'name': 'James Bond Collection', '...
Name: belongs_to_collection, dtype: object

In [164]:
#Explorar y preparar los datos en las columnas
print(movies_dataset["belongs_to_collection"].iloc[0])

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [165]:
movies_dataset.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

In [166]:
# Eliminare la columna Belongs_to_collection y algunas otras columnas, que no usare para mi analisis 
movies_dataset = movies_dataset.drop("belongs_to_collection", axis=1)
movies_dataset = movies_dataset.drop("overview", axis=1)
movies_dataset = movies_dataset.drop("production_countries", axis=1)
movies_dataset = movies_dataset.drop("runtime", axis=1)
movies_dataset = movies_dataset.drop("spoken_languages", axis=1)
movies_dataset = movies_dataset.drop("status", axis=1)
movies_dataset = movies_dataset.drop("tagline", axis=1)

In [167]:
movies_dataset.columns

Index(['budget', 'genres', 'id', 'original_language', 'popularity',
       'production_companies', 'release_date', 'revenue', 'title',
       'vote_average', 'vote_count', 'release_year', 'return'],
      dtype='object')

In [168]:
#Explorar y preparar los datos en las columnas production_companies y genres
print(movies_dataset["production_companies"].iloc[0])
print(movies_dataset["genres"].iloc[0])

[{'name': 'Pixar Animation Studios', 'id': 3}]
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [169]:
# Contar cuántas filas son cadenas y cuántas filas son listas de las columnas production_companies y genres
count_companies = movies_dataset["production_companies"].apply(lambda x: isinstance(x, str)).sum()
count_lists2 = movies_dataset["production_companies"].apply(lambda x: isinstance(x, list)).sum()

print(f"\nTotal de cadenas: {count_companies}")
print(f"Total de listas: {count_lists2}")

Total de cadenas: 45379
Total de listas: 0

In [170]:
# La columna la pasare de cadena de texto a lista
movies_dataset["production_companies"] = movies_dataset["production_companies"].apply(ast.literal_eval)

In [171]:
# Usamos el metodo Explode para separar las filas
companies_exploded = movies_dataset.explode("production_companies")

In [172]:
# Normalizar los datos de companies
companies_normalize = companies_exploded["production_companies"].apply(pd.Series)

In [178]:
companies_normalize.head(10)

                                     name       id    0
0                 Pixar Animation Studios      3.0  NaN
1                        TriStar Pictures    559.0  NaN
1                            Teitler Film   2550.0  NaN
1               Interscope Communications  10201.0  NaN
2                            Warner Bros.   6194.0  NaN
2                          Lancaster Gate  19464.0  NaN
3  Twentieth Century Fox Film Corporation    306.0  NaN
4                   Sandollar Productions   5842.0  NaN
4                     Touchstone Pictures   9195.0  NaN
5                     Regency Enterprises    508.0  NaN

In [173]:
count_genres = movies_dataset["genres"].apply(lambda x: isinstance(x, str)).sum()
count_lists3 = movies_dataset["genres"].apply(lambda x: isinstance(x, list)).sum()

print(f"\nTotal de cadenas: {count_genres}")
print(f"Total de listas: {count_lists3}")

Total de cadenas: 45379
Total de listas: 0

In [174]:
movies_dataset["genres"] = movies_dataset["genres"].apply(ast.literal_eval)

In [175]:
# Usar el metodo Explode para separar filas 
genres_exploded = movies_dataset.explode("genres")

In [176]:
# Normalizar los datos 
genres_normalize = genres_exploded["genres"].apply(pd.Series)

In [181]:
genres_normalize.head(10)

        id       name   0
0     16.0  Animation NaN
0     35.0     Comedy NaN
0  10751.0     Family NaN
1     12.0  Adventure NaN
1     14.0    Fantasy NaN
1  10751.0     Family NaN
2  10749.0    Romance NaN
2     35.0     Comedy NaN
3     35.0     Comedy NaN
3     18.0      Drama NaN

Ambas Columnas estan desanidadas y listas para concatenar con el set de datos original

In [182]:
movies_dataset.head()

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,title,vote_average,vote_count,release_year,return
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995.0,12.451801
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995.0,4.043035
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995.0,0.000000
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995.0,5.090760
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995.0,0.000000

In [183]:
# Eliminare las dos Columnas que desanide production companies y genres, para luego unir los dataframe normalizados al archivo movies_dataset

movies_dataset = movies_dataset.drop("genres", axis=1)
movies_dataset = movies_dataset.drop("production_companies", axis=1)

In [186]:
# Antes de Fusionar Verificamos si los tipos de datos de id en cada columna son Iguales

print(movies_dataset.dtypes)

budget                      float64
id                           object
original_language            object
popularity                   object
release_date         datetime64[ns]
revenue                     float64
title                        object
vote_average                float64
vote_count                  float64
release_year                float64
return                      float64
dtype: object

In [187]:
print(companies_normalize.dtypes)

name     object
id      float64
0        object
dtype: object

In [188]:
print(genres_normalize.dtypes)

id      float64
name     object
0       float64
dtype: object

In [191]:
# Guardamos cada Dataframe en un formato csv

movies_dataset.to_csv('df_movies_limpio.csv', index=False)

In [192]:
# Guardar en un csv el df de Compañias de cada Pelicula

companies_normalize.to_csv('df_companies_limpio.csv', index=False)

In [193]:
# Guardar en una csv el df de Generos

genres_normalize.to_csv('df_genres_limpio.csv', index=False)

Para finalizar con los dataframe, he decidido pasar los formatos csv a formato parquet.

Ya que parquet ofrece un mejor rendimiento al trabajar con grandes volumenes de datos y una mayor eficiencia de almacenamiento.

In [197]:
# Necesitamos la Libreria pyarrow para escribir los datos en formato Parquet

import pyarrow as pa
import pyarrow.parquet as pq

In [198]:
# Funcion para generar todos los archivos csv en nuestra carpeta DataSets en Archivos Parquet.

# Lista de los archivos CSV
archivos_csv = ['DataSets\df_companies_limpio.csv', 'DataSets\df_credits_limpio.csv', 'DataSets\df_genres_limpio.csv', 'DataSets\df_movies_limpio.csv']


for archivo in archivos_csv:
    # Leer el archivo CSV
    df = pd.read_csv(archivo)

    # Convertir el DataFrame de pandas a una tabla de PyArrow
    table = pa.Table.from_pandas(df)

    # Escribir la tabla en formato Parquet
    pq.write_table(table, archivo.replace('.csv', '.parquet'))